# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# test run
output/

# configuration
app.conf
stackexchange-xml-csv-akka-assembly-1.0.jar
